<!-- Footer Include !-->
<footer class="template-footer">

	<div class="wrapper">

		<div class="contain">
		        <div class="footer-content">
		        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
		        {{widget('profile', 'footer-address', { 'profileType':'address', 'address':'profile', 'refreshtime':'1800000'})|raw}}
		        {{widget('profile', 'footer-map', { 'profileType':'map', 'map':'profile', 'refreshtime':'1800000'})|raw}}
		        </div>
		    </div>

	</div>

</footer>



