<!-- Footer Include !-->
<footer class="template-footer">

	<div class="wrapper">

		<div class="contain">
		        <div class="footer-content">
		        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
		        {{widget('map', 'footer-map', {'height': '150', 'zoom': '15', 'address': 'profile'})|raw}}
		        </div>
		    </div>

	</div>

</footer>



